{% extends "base.html" %}
{% block content %}
<h1>{{ ion|capitalize }}</h1>
{% if levels is defined %}
<h2>Energy level diagrams</h2>
<div id="level-diagram">
  <img src="{{ levels_file }}" alt="{{ levels_alt }}"/>
</div>
{% endif %}
<h2>Isotope data</h2>
<div id="isotope-data">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Isotope</th>
        <th>Abundance [%]</th>
        <th>Nuclear spin</th>
      </tr>
    </thead>
    {% for isotope in isotopes %}
    <tr>
      <td>{{ isotope }}</td>
      <td>{{ isotopes[isotope]['abundance'] }}</td>
      <td>{{ isotopes[isotope]['spin'] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
